{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static './lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './lib/fontawesome/css/all.min.css' %}">

</head>
<body style="background-color:#D2B48C;">
    
    <!-- Image and text -->
    <div class="container">
<nav class="navbar fixed-top navbar-light bg-light  ">
    <a class="navbar-brand" href="{% url 'index' %}">
      <!-- <img src="static/image/coff2.jpg" width="375" height="280" class="d-inline-block align-top" alt="" loading="lazy"> -->
      <div class="mx-auto">
        <a  style="position:relative; font-size: 70px; letter-spacing: 3px; 
            text-shadow: 3px 3px  tan;"><b>Coffee till it dusk</b></a>
      </div>
    </a>

      <ul class="nav justify-content-center">


        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}" style="color:black">home</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}" style="color:black">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}" style="color:black">Contact us</a>
        </li>
      </ul>
</nav></div>

    {% block content %}
    {% endblock %}
    <footer class="footer " style="width:100%; height:15%; background-color:rgba(26, 25, 25, 0.568);">
      <div style="text-align:center; padding-top: 45px; margin-top:20px;">© 2020 You are brewtiful Website. Privacy Statement | Cookie Policy | Terms of Use | Advertising Notice | California Do Not Sell My Info | Kanchanok Hlowngam.
    </footer>
    <script src="{% static './lib/jquery/jquery-2.2.4.js' %}"></script>
    <script src="{% static './lib/popper/popper.min.js' %}"></script>
    <script src="{% static './lib/bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>